@model RDA.AlertMe.Models.AlertMeModel

@if (string.IsNullOrEmpty(Model.ErrorMessage)) {
    <div style="overflow:visible">
        <alertme-preference-center publisher="@Model.PublisherId" token="@Model.CustomerToken" custId="@Model.CustomerId"></alertme-preference-center>
    </div>
} else {
    <p>@Model.ErrorMessage</p>
}

<script src="/assets/js/alertme.1.2.js"></script>
